In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from matplotlib.ticker import ScalarFormatter, FormatStrFormatter

In [2]:
# 1. Load the csv file and show top 5 records from it.
df = pd.read_csv('players_20.csv')
df.head(5)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [3]:
# 2. How you would be able to see each column's name.
print(df.columns.values)

['sofifa_id' 'player_url' 'short_name' 'long_name' 'age' 'dob' 'height_cm'
 'weight_kg' 'nationality' 'club' 'overall' 'potential' 'value_eur'
 'wage_eur' 'player_positions' 'preferred_foot' 'international_reputation'
 'weak_foot' 'skill_moves' 'work_rate' 'body_type' 'real_face'
 'release_clause_eur' 'player_tags' 'team_position' 'team_jersey_number'
 'loaned_from' 'joined' 'contract_valid_until' 'nation_position'
 'nation_jersey_number' 'pace' 'shooting' 'passing' 'dribbling'
 'defending' 'physic' 'gk_diving' 'gk_handling' 'gk_kicking' 'gk_reflexes'
 'gk_speed' 'gk_positioning' 'player_traits' 'attacking_crossing'
 'attacking_finishing' 'attacking_heading_accuracy'
 'attacking_short_passing' 'attacking_volleys' 'skill_dribbling'
 'skill_curve' 'skill_fk_accuracy' 'skill_long_passing'
 'skill_ball_control' 'movement_acceleration' 'movement_sprint_speed'
 'movement_agility' 'movement_reactions' 'movement_balance'
 'power_shot_power' 'power_jumping' 'power_stamina' 'power_strength'
 'power_long_shots' 'mentality_aggression' 'mentality_interceptions'
 'mentality_positioning' 'mentality_vision' 'mentality_penalties'
 'mentality_composure' 'defending_marking' 'defending_standing_tackle'
 'defending_sliding_tackle' 'goalkeeping_diving' 'goalkeeping_handling'
 'goalkeeping_kicking' 'goalkeeping_positioning' 'goalkeeping_reflexes'
 'ls' 'st' 'rs' 'lw' 'lf' 'cf' 'rf' 'rw' 'lam' 'cam' 'ram' 'lm' 'lcm' 'cm'
 'rcm' 'rm' 'lwb' 'ldm' 'cdm' 'rdm' 'rwb' 'lb' 'lcb' 'cb' 'rcb' 'rb']

In [4]:
# 3. Need to show number of rows and columns of this dataset
shape = df.shape
print("Number of Rows: " + str(shape[0]))
print("Number of Columns: " + str(shape[1]))

Number of Rows: 18278
Number of Columns: 104

In [5]:
# 4. Show number of players and their countries.
print('Number of Players: ' + str(len(df['sofifa_id'].unique())))
print("Player Countries: \n" + str(df.nationality.unique()))

Number of Players: 18278
Player Countries:
['Argentina' 'Portugal' 'Brazil' 'Slovenia' 'Belgium' 'Germany'
 'Netherlands' 'Croatia' 'Egypt' 'France' 'Senegal' 'England' 'Spain'
 'Italy' 'Uruguay' 'Poland' 'Denmark' 'Gabon' 'Korea Republic'
 'Costa Rica' 'Slovakia' 'Bosnia Herzegovina' 'Serbia' 'Scotland'
 'Hungary' 'Switzerland' 'Greece' 'Austria' 'Morocco' 'Sweden' 'Wales'
 'Colombia' 'Czech Republic' 'Chile' 'Algeria' 'Ivory Coast' 'Togo'
 'Norway' 'Mexico' 'Iceland' 'Finland' 'Jamaica' 'Albania' 'Guinea'
 'Cameroon' 'Ghana' 'Montenegro' 'Ukraine' 'Russia' 'DR Congo'
 'Central African Rep.' 'Venezuela' 'Nigeria' 'Armenia' 'Israel' 'Ecuador'
 'Paraguay' 'Australia' 'Turkey' 'Romania' 'Japan' 'Mali' 'United States'
 'Kosovo' 'Dominican Republic' 'Tanzania' 'China PR' 'Northern Ireland'
 'Republic of Ireland' 'Tunisia' 'Cape Verde' 'FYR Macedonia'
 'Burkina Faso' 'Kenya' 'Angola' 'South Africa' 'Peru' 'Syria' 'Gambia'
 'New Zealand' 'Equatorial Guinea' 'Zimbabwe' 'Georgia' 'Canada' 'Estonia'
 'Benin' 'Bulgaria' 'Mozambique' 'Honduras' 'Guinea Bissau' 'Iran'
 'Philippines' 'Cyprus' 'Madagascar' 'Uzbekistan' 'Moldova' 'Cuba'
 'Sierra Leone' 'Curacao' 'Zambia' 'Congo' 'Bolivia' 'Comoros' 'Iraq'
 'Chad' 'Lithuania' 'Saudi Arabia' 'Panama' 'Libya' 'Bahrain'
 'St Kitts Nevis' 'New Caledonia' 'Luxembourg' 'Trinidad & Tobago'
 'Thailand' 'United Arab Emirates' 'Eritrea' 'Korea DPR' 'El Salvador'
 'Azerbaijan' 'Latvia' 'Montserrat' 'Puerto Rico' 'Bermuda'
 'São Tomé & Príncipe' 'Antigua & Barbuda' 'Burundi' 'Kazakhstan'
 'Liberia' 'Guyana' 'Haiti' 'Jordan' 'Faroe Islands' 'Mauritania'
 'Namibia' 'Rwanda' 'Uganda' 'Hong Kong' 'Chinese Taipei' 'Belize'
 'Palestine' 'Mauritius' 'Guam' 'Suriname' 'Lebanon' 'Guatemala' 'Sudan'
 'Liechtenstein' 'Grenada' 'St Lucia' 'Afghanistan' 'Ethiopia' 'Barbados'
 'India' 'Malta' 'Niger' 'Vietnam' 'Malawi' 'Gibraltar' 'Macau'
 'South Sudan' 'Indonesia']

In [6]:
# 5. If you find many records in point 4 then show only top 10 countries and their number of players.
df['nationality'].value_counts().head(10)

England        1667
Germany        1216
Spain          1035
France          984
Argentina       886
Brazil          824
Italy           732
Colombia        591
Japan           453
Netherlands     416
Name: nationality, dtype: int64

In [26]:
# 6. Now you have to create a bar plot of top 5 countries and their number of players, try to fill green color in bars.
# top_countries = df.sort_values(by='count', ascending=False).head(5)
# countries = top_countries.index
# player_count = top_countries['count']

top_countries = df['nationality'].value_counts().head(10)
# top_countries.index = df.nationality
top_countries = top_countries.to_frame()
top_countries['countries'] = top_countries.index
top_countries['number of players'] = top_countries.nationality
top_countries

# sns.barplot(x=countries, y=player_count, palette='crest')
# plt.title('Top 5 Countries by Number of Players')
# plt.xlabel('Country')
# plt.ylabel('Number of Players')
# plt.show()

             nationality    countries  number of players
England             1667      England               1667
Germany             1216      Germany               1216
Spain               1035        Spain               1035
France               984       France                984
Argentina            886    Argentina                886
Brazil               824       Brazil                824
Italy                732        Italy                732
Colombia             591     Colombia                591
Japan                453        Japan                453
Netherlands          416  Netherlands                416

In [8]:
# 7. Show top 5 players short name and wages.
df[["short_name", "wage_eur"]].nlargest(5, "wage_eur")

           short_name  wage_eur
0            L. Messi    565000
4           E. Hazard    470000
1   Cristiano Ronaldo    405000
5        K. De Bruyne    370000
22       A. Griezmann    370000

In [9]:
# 8. Show top 5 players short name and wages that are getting highest salaries.

In [ ]:
# 9. Create a bar plot of point number 8.

In [ ]:
# 10.Show top 10 records of Germany.

In [ ]:
# 11.Now show top 5 records of Germany players who have maximum height, weight and wages.

In [ ]:
# 12.Show short name and wages of top 5 Germany players.

In [ ]:
# 13.Show top 5 players who have great shooting skills among all with short name.

In [ ]:
# 14.Show top 5 players records (short name, defending, nationality, and club) that have awesome defending skills.

In [ ]:
# 15.Show wages records of top 5 players of 'Real Madrid' team.

In [ ]:
# 16.Show shooting records of top 5 players of 'Real Madrid' team.

In [ ]:
# 17.Show defending records of top 5 players of 'Real Madrid' team.

In [ ]:
# 18.Show nationality records of top 5 players of 'Real Madrid' team